.container {
  padding: 1rem;
  background-color: orange;
  margin: 10rem;
  height: auto;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.75);
}

.title {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

.inputBox {
  text-align: center;
}

.todo {
  margin: 0.5rem;
  padding: 0.5rem;
}

.todoBtn {
  float: right;
}

li {
  list-style: none;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  background-color: aliceblue;
}
li:hover {
  transform: scale(1.02);
  background-color: yellow;
}
